#Ejercicio de Pandas:

Usa los dos archivos csv de la carpeta para completar las tareas que aparecen en negrita a continuación, responder sólo en la línea que aparece.

**Usar una celda de código**

Importar pandas and leer el archivo banklist.csv en una estructura de dataframe llamada bancos.

In [ ]:
# cargar datos desde el laptop
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/MyDrive/advanced_programming')

In [ ]:
import pandas as pd
df_bancos = pd.read_csv('banklist.csv')

**Muestre las 10 primeras filas del dataframe**

In [ ]:
df_bancos.head(10)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
5,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
6,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,17-Nov-16
7,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,1-Jun-17
8,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,6-Sep-16
9,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,6-Sep-16

**Imprima el nombre de las columnas**

In [ ]:
df_bancos.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

**Obtener una lista o matriz de todos los estados en el conjunto de datos, sin repetición, ordenados de la A a la Z**

In [ ]:
df_bancos.sort_values(by='ST', ascending=True)['ST'].unique()

array(['AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'FL', 'GA', 'HI', 'IA', 'ID',
       'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'MI', 'MN', 'MO', 'MS',
       'NC', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA',
       'PR', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'WA', 'WI', 'WV', 'WY'],
      dtype=object)

**¿Cuáles son los 5 estados con más bancos fallidos?**

In [ ]:
# Los 5 Estados con más bancos fallidos.
df_bancos['ST'].value_counts().head(5)

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

**¿Cuáles son las 5 principales instituciones adquirentes?**

In [ ]:
# Las 5 principales instituciones adquirientes.
df_bancos['Acquiring Institution'].value_counts().head(5)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

**¿Cuántos bancos ha adquirido el State Bank of Texas? ¿Cuántos de ellos estaban realmente en Texas?**

In [ ]:
# Bancos Adquiridos por el State Bank of Texas.
df_bancos[df_bancos['Acquiring Institution'] == 'State Bank of Texas']

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

Solamente el Millenium State Bank ot Texas estaba realmente en Texas.

**¿Cuál es la ciudad más común en California donde un banco quiebra?**

In [ ]:
# La ciudad de california con más bancos quebrados.
df_bancos[df_bancos['ST'] == 'CA'].groupby('City').count().sort_values('Bank Name', ascending=False).head(1)

,Bank Name,ST,CERT,Acquiring Institution,Closing Date,Updated Date
City,,,,,,
Los Angeles,4,4,4,4,4,4

**¿Cuántos nombres de bancos comienzan con la letra 's'?**

In [ ]:
# Bancos cuyo nombre comienza con la letra "s".
df_bancos[df_bancos['Bank Name'].str.lower().str.startswith('s')]['Bank Name'].count()

53

**¿Cuántos bancos consisten en dos palabras? Ej. "First Bank" , "Bank Georgia"**

In [ ]:
# Bancos cuyo nombre posee dos palabras.
df_bancos[df_bancos['Bank Name'].str.split().str.len() == 2]['Bank Name'].count()

114

**¿Cuántos bancos quebrados no tienen la palabra "Banco" en su nombre?**

In [ ]:
# Bancos cuyo nombre no posee la palabra "Banco".
df_bancos[~df_bancos['Bank Name'].str.lower().str.contains('banco')]['Bank Name'].count()

550

**¿Cuántos bancos cerraron en el año 2008?**

In [ ]:
# Cantidad de bancos que cerrarron el año 2008.
df_bancos[df_bancos['Closing Date'].str.split('-').str[2] == '08']['Bank Name'].count()

25